// first button
.expenseButton {
	button {
		background: #ff4742;
		border: 1px solid #ff4742;
		border-radius: 6px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
		font-size: 16px;
		font-weight: 800;
		line-height: 16px;
		min-height: 40px;
		outline: 0;
		padding: 12px 14px;
		text-align: center;
		text-rendering: geometricprecision;
		text-transform: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;
		transition: all linear 0.3s;
		letter-spacing: 1px;
		&:hover,
		&:active {
			background-color: initial;
			background-position: 0 0;
			color: #ff4742;
			transition: all linear 0.3s;
		}

		&:active {
			opacity: 0.5;
		}
	}
}

// second button
.incomeButton {
	button {
		background-color: #c2fbd7;
		border-radius: 100px;
		box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
			rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
			rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
			rgba(44, 187, 99, 0.15) 0 16px 32px;
		color: green;
		cursor: pointer;
		display: inline-block;
		font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
			sans-serif;
		padding: 7px 20px;
		text-align: center;
		text-decoration: none;
		transition: all 250ms;
		border: 0;
		font-size: 16px;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}

	&:hover {
		box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
			rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
			rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
			rgba(44, 187, 99, 0.25) 0 16px 32px;
		transform: scale(1.05) rotate(-1deg);
		transition: all linear 0.3s;
	}
}
