.card_section {
	background-color: #eee;
	border: 1px solid #ccc;
	color: black;
	text-align: center;
	padding: 30px 20px 30px 20px;
	h4 {
		color: black;
		font-size: 23px;
		text-transform: capitalize;
		margin: 5px 0;
	}
	p {
		color: cadetblue;
		margin: 10px 0;
	}
}
