@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
