// point :  global properties start
$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;

$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;

$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 1.9;
	background-color: #f3f3f3;
}

// point :  global properties end

// point : General properties start
.section {
	padding: 15rem 3rem;
	border-top: 1px solid #ddd;

	transition: transform 1s, opacity 1s;
}

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
}

.section__title {
	max-width: 80rem;
	margin: 0 auto 8rem auto;
}

.section__description {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: $color-primary;
	margin-bottom: 1rem;
}

.section__header {
	font-size: 4rem;
	line-height: 1.3;
	font-weight: 500;
}

.btn {
	display: inline-block;
	background-color: $color-primary;
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	border: none;
	padding: 1.25rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background-color: $color-primary-darker;
}

button:focus {
	outline: none;
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-family: inherit;
	font-weight: 500;
	color: $color-primary;
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

p {
	color: #666;
}

img {
	transition: filter 0.5s;
}

.lazy-img {
	filter: blur(20px);
}

h1 {
	font-size: 5.5rem;
	line-height: 1.35;
}

h4 {
	font-size: 2.4rem;
	font-weight: 500;
}
// point : General properties end

// point : Navigation start

.header {
	padding: 0 3rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 9rem;
		width: 100%;
		padding: 0 6rem;
		z-index: 100;

		&.sticky {
			position: fixed;
			background-color: rgba(255, 255, 255, 0.95);
		}

		.nav__logo {
			height: 4.5rem;
			transition: all 0.3s;
		}
		.nav__links {
			display: flex;
			align-items: center;
			list-style: none;

			.nav__item {
				margin-left: 4rem;

				.nav__link:link,
				.nav__link:visited {
					font-size: 1.7rem;
					font-weight: 400;
					color: inherit;
					text-decoration: none;
					display: block;
					transition: all 0.3s;
				}

				.nav__link--btn:link,
				.nav__link--btn:visited {
					padding: 0.8rem 2.5rem;
					border-radius: 3rem;
					background-color: $color-primary;
					color: #222;
				}

				.nav__link--btn:hover,
				.nav__link--btn:active {
					color: inherit;
					background-color: $color-primary-darker;
					color: #333;
				}
			}
		}
	}

	.header__title {
		flex: 1;
		max-width: 115rem;
		display: grid;
		grid-template-columns: 3fr 2fr;
		row-gap: 3rem;
		align-content: center;
		justify-content: center;

		align-items: start;
		justify-items: start;

		.header__img {
			width: 100%;
			grid-column: 2 / 3;
			grid-row: 1 / span 4;
			transform: translateY(-6rem);
		}

		h1 {
			.highlight {
				position: relative;

				&:after {
					display: block;
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: -1;
					opacity: 0.7;
					transform: scale(1.07, 1.05) skewX(-15deg);
					background-image: $gradient-primary;
				}
			}
		}
	}
}

// point : Navigation end

// Point : Section 1 start

#section--1 {
	.features {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
		margin: 0 12rem;

		.features__img {
			width: 100%;
		}
		.features__feature {
			align-self: center;
			justify-self: center;
			width: 70%;
			font-size: 1.5rem;

			.features__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--color-primary-opacity);
				height: 5.5rem;
				width: 5.5rem;
				border-radius: 50%;
				margin-bottom: 2rem;

				svg {
					height: 2.5rem;
					width: 2.5rem;
					fill: var(--color-primary);
				}
			}
			.features__header {
				font-size: 2rem;
				margin-bottom: 1rem;
			}
		}
	}
}

// Point : Section 1 end

// Point : Section 2 start

#section--2 {
	.operations {
		max-width: 100rem;
		margin: 12rem auto 0 auto;
		background-color: #fff;

		.operations__tab-container {
			display: flex;
			justify-content: center;

			.operations__tab {
				margin-right: 2.5rem;
				transform: translateY(-50%);

				span {
					margin-right: 1rem;
					font-weight: 600;
					display: inline-block;
				}

				&.operations__tab--1 {
					background-color: var(--color-secondary);

					&:hover {
						background-color: $color-secondary-darker;
					}
				}

				&.operations__tab--3 {
					background-color: var(--color-tertiary);
					margin: 0;

					&:hover {
						background-color: $color-tertiary-darker;
					}
				}

				&.operations__tab--active {
					transform: translateY(-66%);
				}
			}
		}

		.operations__content {
			display: none;

			/* JUST PRESENTATIONAL */
			font-size: 1.7rem;
			padding: 2.5rem 7rem 6.5rem 7rem;

			.operations__header {
				font-size: 2.25rem;
				font-weight: 500;
				align-self: center;
			}
			.operations__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 7rem;
				width: 7rem;
				border-radius: 50%;

				&.operations__icon--1 {
					background-color: $color-secondary-opacity;

					svg {
						fill: $color-primary-darker;
					}
				}
				&.operations__icon--2 {
					background-color: $color-primary-opacity;
					svg {
						fill: $color-primary;
					}
				}
				&.operations__icon--3 {
					background-color: $color-tertiary-opacity;
					svg {
						fill: $color-tertiary;
					}
				}

				svg {
					height: 2.75rem;
					width: 2.75rem;
				}
			}

			p {
				grid-column: 2;
			}

			&.operations__content--active {
				display: grid;
				grid-template-columns: 7rem 1fr;
				column-gap: 3rem;
				row-gap: 0.5rem;
			}
		}
	}
}

// Point : Section 2 end
