@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

// point : global start

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

body {
	background-color: #fff;
	font-style: 16px;
	height: 100%;

	@media only screen and (max-width: 320px) {
		font-size: 14px;
	}
}

$--primary-color: #8b3eea;
$--white-color: #fff;
$--black-color: #2b2540;
$--black-color-opacity: #2b2540c4;
$--paragraph-color: #818090;
$--bg-color: #f3f6fd;
$--transition: 0.4s all ease-in-out;
$--heading-color: #f7f7f7;
$large-screen: 1200px;
$medium-screen: 768px;
$small-screen: 576px;
$--primary-color-overlay: #8b3eea9c;

img {
	max-width: 100%;
	height: auto;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	color: $--primary-color;
}

a:hover {
	color: $--black-color;
	transition: $--transition;
}

h1 {
	font-size: 82px;
	font-weight: 400;
	line-height: 90px;
}

h2 {
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
}

h3 {
	font-size: 24px;
	font-weight: 300;
}

h4 {
	font-size: 20px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 400;
}

h6 {
	font-size: 14px;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 28px;
	color: $--paragraph-color;
	font-weight: 400;
	font-family: inherit;
	margin-bottom: 0;
}

p:last-child {
	margin-bottom: 0;
}

.container {
	width: 100%;
	margin: auto;
	max-width: 1440px;
	padding: 0 50px;
	@media only screen and (max-width: 991px) {
		padding: 0 30px;
	}
	@media only screen and (max-width: 767px) {
		padding: 0 15px;
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: none;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	z-index: 0;
	transition: all 0.3s ease-in-out 0s;
	padding: 15px 30px;
	color: $--white-color;
	background-color: $--primary-color;
	border: 1px solid $--primary-color;
	&:hover {
		color: $--white-color;
		background-color: $--black-color;
		border-color: $--heading-color;
	}
}

// point : global end

// point  hero section start

.heroSection {
	background-image: url(/img/bg.png);
	padding: 370px 0 280px 0;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.text-container {
		text-align: center;

		h1 {
			color: $--white-color;
		}

		h3 {
			color: $--white-color;
			padding-top: 13px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.text-container h1 {
		font-size: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.text-container h1 {
		font-size: 50px;
		line-height: 50px;
	}
}

// point  hero section end

// point  Header section  start

// point 1.1 : header top start

/* Topbar styling */

.main_header_area {
	position: absolute;
	width: 100%;
	z-index: 9999;

	.topbar_area {
		background-color: transparent;
		color: $--white-color;
		padding: 10px 0;
		border-bottom: 1px solid #8da1b6;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.topbar_box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.left,
			.right {
				display: flex;
				align-items: center;

				.topbar_list {
					display: flex;
					gap: 10px;
					align-items: center;
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
						border-right: 0.1px solid #8da1b6;
						padding-right: 10px;
						padding-left: 10px;

						&:last-child {
							border-right: none;
						}

						a {
							color: $--white-color;
							font-size: 14px;
							display: inline-flex;
							align-items: center;

							i {
								font-size: 14px;
								margin-right: 7px;
							}
							span {
								padding-left: 5px;
								font-size: 5px !important;
							}
							&:hover {
								color: $--heading-color;
							}
						}
					}
				}
			}

			.right {
				.topbar_list {
					justify-content: flex-end;
				}
			}
		}
	}

	@media only screen and (max-width: 938px) {
		.topbar_area {
			display: none;
		}
	}

	// point 1.1 : header top end

	// point : 1.2 : header bottom start

	.navbar {
		background-color: transparent;
		color: $--white-color;
		padding: 10px 0;

		.container {
			.menu_button {
				display: none;
				background: none;
				border: none;
				cursor: pointer;
				font-size: 24px;
				color: $--white-color;
			}

			.main_nav {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: space-between;

				.left {
					display: flex;
					align-items: center;
					gap: 70px;
					.logo {
						font-size: 24px;
						font-weight: 700;
						color: $--white-color;
					}

					.nav_links {
						display: flex;
						gap: 60px;

						li {
							position: relative;
							cursor: pointer;

							&:hover .dropdown {
								display: block;
							}

							.dropdown {
								display: none;
								position: absolute;
								top: 100%;
								left: 0;
								background-color: $--black-color;
								width: 200px;
								padding: 10px;
								margin-top: 10px;
								li {
									padding: 8px 0;

									a {
										color: $--white-color !important;
										text-decoration: none;
										&:hover {
											color: $--heading-color;
										}
									}
								}
							}
						}
						a {
							color: $--white-color;
							text-decoration: none;
							&:hover {
								color: $--primary-color;
								transition: $--transition;
							}
						}
					}
				}
				.right {
					.search-icon {
						font-size: 20px;
						margin-right: 20px;
					}

					.partner-button {
						background-color: $--primary-color;
						color: $--white-color;
						padding: 10px 10px;
						border: none;
						cursor: pointer;
						font-size: 17px;
						border-radius: 5px;
						transition: $--transition;
						box-shadow: none;
						white-space: nowrap;

						&:hover {
							background-color: $--heading-color;
							transition: $--transition;
							color: $--primary-color;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1334px) {
		.navbar {
			.container {
				.main_nav {
					.left {
						gap: 20px;

						.nav_links {
							gap: 20px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1092px) {
		.navbar {
			.container {
				.main_nav {
					.right {
						.partner-button {
							display: none;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 888px) {
		.navbar {
			.container {
				.main_nav {
					.left {
						.nav_links {
							li {
								&:nth-child(5) {
									display: none;
								}
								&:nth-child(4) {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.navbar {
			.container {
				.menu_button {
					display: block;
					font-size: 37px;
					color: #fff;
					background-color: transparent;
					cursor: pointer;
					transition: 0.4s all ease-in-out;
					position: absolute;
					top: 16%;
					right: 3%;
					&:hover {
						color: $--primary-color;
					}

					&.active {
						display: flex;
						flex-direction: column;
					}
				}

				.main_nav {
					.left {
						.nav_links {
							display: none;
							flex-direction: column;
							background-color: $--black-color;
							position: absolute;
							top: 60px;
							left: 0;
							width: 100%;

							li {
								width: 100%;
								padding: 10px;

								&:nth-child(4) {
									display: block;
								}
								&:nth-child(5) {
									display: block;
								}

								.dropdown {
									display: none;
									position: static;
									background-color: $--black-color;
									padding: 0;

									li {
										padding: 0;

										a {
											padding: 10px 20px;
											display: block;
											&:hover {
												background-color: $--black-color-opacity;
											}
										}
									}
								}
							}
						}
					}

					.right {
						display: none;
					}
				}
			}
		}

		.active {
			.container {
				.main_nav {
					.left {
						.nav_links {
							display: block;

							li {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	// point : 1.2 : header bottom end
}

// point  Header section  end

// point : search start

.search_section_form {
	margin-top: -140px;
	.container {
		.search_form_area {
			background: #ffffff;
			box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.1);
			border-radius: 20px;
			padding: 30px 30px;
			position: relative;

			@media only screen and (max-width: 320px) {
				padding: 30px 15px;
			}

			.search_top {
				.search_top_box {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.left {
						display: flex;
						flex-wrap: wrap;
						gap: 10px;

						li {
							margin-right: 5px;

							button {
								margin-bottom: 0;
								color: $--black-color;
								border-radius: 6px;
								border: 1px solid $--primary-color;
								padding: 8px 16px;
								font-size: 16px;
								background-color: transparent;
								transition: $--transition;
								cursor: pointer;

								&:hover {
									background-color: $--primary-color;
									color: $--white-color;
									transition: $--transition;
								}

								&.active {
									background-color: $--primary-color;
									color: $--white-color;
									transition: $--transition;
								}

								span {
									margin-right: 5px;
								}
							}
						}
					}
					.right {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;

						li {
							button {
								margin-bottom: 0;
								color: $--black-color;
								border: none;
								font-size: 17px;
								background-color: transparent;
								transition: $--transition;
								cursor: pointer;
								font-weight: 600;

								&:hover {
									color: $--primary-color;
									transition: $--transition;
								}
								&.active {
									color: $--primary-color;
									transition: $--transition;
								}
							}
						}
					}
				}

				@media only screen and (max-width: 1280px) {
					.search_top_box {
						flex-direction: column;
						gap: 20px;
					}
				}

				@media only screen and (max-width: 938px) {
					.search_top_box {
						flex-direction: column;
						gap: 20px;

						.left {
							justify-content: center;
						}
						.right {
							justify-content: center;
						}
					}
				}
			}

			.search_bottom {
				margin-top: 20px;
				display: grid;
				grid-template-columns: 2fr 2fr 2fr 1fr;
				gap: 20px;

				.flights_search_bottom_boxed {
					background: #8b3eea17;
					padding: 10px 10px 10px 20px;
					border-radius: 10px;
					position: relative;

					p {
						font-size: 14px;
					}
					input {
						font-size: 22px;
						width: 87%;
						border: none;
						background: transparent;
						font-weight: 500;
						height: 35px;
						padding: 0;

						&.date {
							width: 50%;
						}
					}

					span {
						display: block;
						font-size: 12px;
						padding: 5px 0;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}

					.plane_icon_position {
						position: absolute;
						top: 20px;
						right: 30px;

						i {
							font-size: 24px;
						}
					}
					.range_plan {
						position: absolute;
						left: -38px;
						top: 26%;
						transform: translateX(3%);

						i {
							background: #f5eefd;
							color: $--primary-color;
							border: 3px solid #fff;
							font-size: 24px;
							width: 50px;
							height: 50px;
							text-align: center;
							line-height: 46px;
							border-radius: 50%;
						}

						@media only screen and (max-width: 498px) {
							display: none;
						}
					}
				}

				@media only screen and (max-width: 1388px) {
					.flights_search_bottom_boxed {
						.date {
							width: 55% !important;
						}
					}
				}

				@media only screen and (max-width: 1276px) {
					.flights_search_bottom_boxed {
						.date {
							width: 60% !important;
						}
					}
				}

				@media only screen and (max-width: 1194px) {
					.flights_search_bottom_boxed {
						.date {
							width: 65% !important;
						}
					}
				}

				@media only screen and (max-width: 1120px) {
					.flights_search_bottom_boxed {
						.date {
							width: 73% !important;
						}
					}
				}

				@media only screen and (max-width: 1062px) {
					.flights_search_bottom_boxed {
						.date {
							width: 80% !important;
						}
					}
				}
			}
			@media only screen and (max-width: 1062px) {
				.search_bottom {
					grid-template-columns: 1fr 1fr 1fr 1fr;
					gap: 20px;

					.flights_search_bottom_boxed {
						.date {
							width: 80% !important;
						}
					}
				}
			}

			@media only screen and (max-width: 904px) {
				.search_bottom {
					grid-template-columns: 1fr 1fr;

					.flights_search_bottom_boxed {
						.date {
							width: 80% !important;
						}
					}
				}
			}

			@media only screen and (max-width: 600px) {
				.search_bottom {
					.flights_search_bottom_boxed {
						input {
							font-size: 18px;
						}
					}
				}
			}

			@media only screen and (max-width: 496px) {
				.search_bottom {
					grid-template-columns: 1fr;

					.flights_search_bottom_boxed {
						.date {
							width: 50% !important;
						}
					}
				}
			}

			@media only screen and (max-width: 374px) {
				.search_bottom {
					.flights_search_bottom_boxed {
						.date {
							width: 80% !important;
						}
					}
				}
			}

			.search_button {
				text-align: center;
				margin-top: 30px;

				button {
					font-weight: 600;
					letter-spacing: 1px;
				}
			}
		}
	}
}

// point : search end

// point : go beyond area start

.go_beyond_area {
	padding: 100px 0 0 0;

	.container {
		.go_beyond_area_box {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 20px;
			align-items: center;
			.first {
				h2 {
					font-weight: 400;
					padding-bottom: 17px;
					line-height: 45px;

					span {
						display: inline-block;
						border-bottom: 1px solid $--primary-color;
						padding-bottom: 10px;
					}
				}

				h5 {
					color: $--black-color-opacity;
				}
			}

			.img_content {
				position: relative;
				border-radius: 14px;
				overflow: hidden;
				transition: $--transition;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: $--transition;

					&:hover {
						transform: scale(1.1);
						transition: $--transition;

						& + .content_overlay {
							.content {
								h3 {
									font-weight: 800;
									transition: $--transition;

									background-color: rgba(0, 0, 0, 0.5);
								}
							}
						}
					}
				}

				.content_overlay {
					.content {
						color: $--white-color;
						transition: $--transition;

						h3 {
							position: absolute;
							bottom: 0;
							display: flex;
							justify-content: center;
							width: 100%;
							z-index: 999;
							align-items: center;
							height: 25%;
							transition: $--transition;
							// background: rgba(0, 0, 0, 0.5);
							span {
								display: block;
								text-align: center;
							}
						}
					}
				}
			}

			@media only screen and (max-width: 850px) {
				grid-template-columns: 1fr 1fr;
			}

			@media only screen and (max-width: 574px) {
				grid-template-columns: 1fr;
			}
		}
		@media only screen and (max-width: 850px) {
			width: 80%;
			margin: 0 auto;
		}
		@media only screen and (max-width: 574px) {
			width: 100%;
		}
	}
}

// point : go beyond area end

// point  : Top Destination start

.top_destinations {
	padding: 100px 0 0 0;

	.container {
		.top_destinations_header_box {
			text-align: center;
			padding-bottom: 30px;

			h2 {
				position: relative;
				padding-bottom: 15px;
				font-weight: 600;

				&::after {
					content: '';
					position: absolute;
					width: 200px;
					height: 1px;
					background: #8b3eea9c;
					left: 50%;
					transform: translate(-50%, 50%);
					bottom: 0;
				}
			}
		}

		.main_gallery {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;

			@media only screen and (max-width: 904px) {
				grid-template-columns: 1fr;
			}

			.left {
				overflow: hidden;
				position: relative;
				img {
					transition: $--transition;
					width: 100%;
					height: 96.5%;

					&:hover {
						transform: scale(1.1);
						transition: $--transition;
						overflow: hidden;
					}
				}

				.img_text {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transition: $--transition;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					opacity: 1;

					&:hover {
						transition: $--transition;
						background-color: #8b3eea;
						opacity: 0.6;
						height: 96.5%;
					}

					h2 {
						font-weight: 600;
						color: $--white-color;
						transition: $--transition;
						margin-bottom: 10px;
					}
					.destination_big_offer {
						position: relative;
						transition: $--transition;
						margin: 10px 0;

						h1 {
							font-weight: 600;
							color: $--white-color;
							transition: $--transition;
						}
						h6 {
							position: absolute;
							font-weight: 600;
							font-size: 30px;
							color: $--white-color;
							transition: $--transition;
							bottom: 10px;
							left: 84px;
							padding: 0 10px;
						}
					}

					a {
						background-color: $--primary-color;
						opacity: 1 !important;
					}
				}
			}

			.right {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 20px;
				grid-template-rows: min-content;
				@media only screen and (max-width: 904px) {
					grid-template-columns: 1fr 1fr;

					.responsive_row_gallery {
						display: none;
					}
				}

				@media only screen and (max-width: 496px) {
					grid-template-columns: 1fr;
					.responsive_row_gallery {
						display: block;
					}
				}

				.right_side_row {
					.top_destinations_box {
						position: relative;
						margin-bottom: 23px;
						border-radius: 12px;
						overflow: hidden;

						img {
							object-fit: cover;
							transition: $--transition;
							width: 100%;
							height: 100%;
							// z-index: -1;

							&:hover {
								transform: scale(1.1);
								transition: $--transition;
							}
						}
					}

					.top_destinations_box_img_overlay {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						transition: $--transition;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: $--transition;
						&:hover {
							transition: $--transition;
							background: #8b3eea9c;
							opacity: 0.6;
							transform: scale(1.1);

							& + .top_destinations_box_img {
								img {
									transition: $--transition;
									transform: scale(1.1);
								}
							}
						}
						a {
							color: $--white-color;
							text-align: center;
							transition: $--transition;
							font-size: 24px;
							font-weight: 300;
						}
					}

					.top_destinations_button {
						button {
							width: 100%;
						}
					}
				}
			}
			@media only screen and (max-width: 982px) {
				grid-template-columns: 1fr;
			}
		}
		@media only screen and (max-width: 982px) {
			width: 80%;
			margin: 0 auto;
		}
		@media only screen and (max-width: 574px) {
			width: 100%;
		}
	}
}

// point  : Top Destination end

// point : Explore our hot deals start

.explore {
	padding: 100px 0 0 0;
	.container {
		@media only screen and (max-width: 982px) {
			width: 80%;
			margin: 0 auto;
		}
		@media only screen and (max-width: 496px) {
			width: 100%;
		}
		.explore_head {
			text-align: center;
			padding-bottom: 30px;

			h2 {
				position: relative;
				padding-bottom: 15px;

				&::after {
					content: '';
					position: absolute;
					width: 200px;
					height: 1px;
					background: $--primary-color;
					left: 50%;
					transform: translate(-50%, 50%);
					bottom: 0;
				}
			}
		}

		.explore_top_box {
			background: #ffffff;
			box-shadow: -4px -4px 16px rgb(139 62 234 / 8%),
				4px 14px 28px rgb(139 148 250 / 7%);
			border-radius: 12px;
			padding: 38px 0;
			margin: 0 auto;
			margin-bottom: 30px;
			width: 60%;
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				padding: 10px 30px;
				li {
					padding: 0 30px;
					transition: $--transition;

					@media only screen and (max-width: 982px) {
						padding: 0 10px;
					}
					@media only screen and (max-width: 574px) {
						padding: 0 5px;
					}
					@media only screen and (max-width: 496px) {
						padding: 0 2px;
					}

					a {
						margin-bottom: 0;
						background: 0 0;
						border: 1px solid $--primary-color;
						color: $--black-color;
						padding: 8px 30px;
						border-radius: 5px;

						&.active {
							color: $--white-color;
							background-color: $--primary-color;
							border-color: $--primary-color;
						}
						&:hover {
							color: $--white-color;
							background-color: $--primary-color;
							border-color: $--primary-color;
						}
					}
				}
			}

			@media only screen and (max-width: 1312px) {
				width: 80%;
			}
			@media only screen and (max-width: 998px) {
				width: 100%;

				ul {
					padding: 10px 0;

					li {
						padding: 0 5px;

						a {
							padding: 8px 15px;
						}
					}
				}
			}

			@media only screen and (max-width: 500px) {
				ul {
					li {
						a {
							padding: 8px 10px;
							font-size: 10px;
						}
					}
				}
			}
		}

		.explore_card_box_main {
			.explore_card_box {
				overflow: hidden;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 20px;
				grid-template-rows: min-content;
				@media only screen and (max-width: 904px) {
					grid-template-columns: 1fr 1fr;
				}

				@media only screen and (max-width: 496px) {
					grid-template-columns: 1fr;
					gap: 10px;
				}

				.explore_card_card {
					border-radius: 11px;
					overflow: hidden;
					border: 1px solid #d2d2d275;
					transition: $--transition;
					margin-bottom: 30px;

					// &:hover {
					// 	transition: $--transition;
					// 	transform: scale(1.1);
					// }

					.explore_card_card_img {
						position: relative;
						overflow: hidden;
						// height: 300px;

						a {
							text-decoration: none;
							-webkit-transition: all 0.3s ease-in-out 0.1s;
							transition: all 0.3s ease-in-out 0.1s;
							outline: 0 !important;
							color: $--primary-color;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								transition: $--transition;
								&:hover {
									transition: $--transition;
									transform: scale(1.1);
								}
							}
						}
						p {
							color: $--white-color;
							position: absolute;
							bottom: 4px;
							left: 13px;
							font-size: 14px;
						}
					}

					.explore_card_card_text {
						background: #fff;
						padding: 20px 15px;

						h4 {
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;

							a {
								color: $--black-color;
								transition: $--transition;
								&:hover {
									color: $--primary-color;
									transition: $--transition;
								}
							}
						}
						p {
							padding: 10px 0px;
							font-size: 14px;

							span {
								&:first-child {
									font-weight: 600;
									color: $--primary-color;
								}
								&:last-child {
									margin-left: 10px;
								}
							}
						}

						h3 {
							font-weight: 500;
							span {
								font-weight: 400;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

// point : Explore our hot deals end

// point : offer  area start

.offer_area {
	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}
		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.offer_main_box {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			gap: 20px;
			grid-template-rows: min-content;

			@media only screen and (max-width: 904px) {
				grid-template-columns: 1fr 1fr;

				.offer_box {
					margin-bottom: 30px;
					img {
						height: 500px !important;
					}
				}
				.responsive_row_gallery {
					display: none;
				}
			}

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
				.offer_box {
					margin-bottom: 30px;
					img {
						height: 500px !important;
					}
				}
				.responsive_row_gallery {
					display: block;
				}
			}

			.offer_box {
				position: relative;
				border-radius: 10px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					transition: $--transition;
					object-fit: cover;
				}

				.offer_area_content {
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 30px 27px;
					z-index: 845;
					transition: $--transition;

					h2 {
						color: $--white-color;
						padding-bottom: 20px;
						transition: $--transition;
					}
					p {
						color: $--white-color;
						padding-bottom: 25px;
						transition: $--transition;
					}
					a {
						padding: 12px 35px;
						font-size: 18px;
						transition: $--transition;
					}

					@media only screen and (max-width: 1068px) {
						h2 {
							font-size: 20px;
						}
						p {
							font-size: 14px;
						}
						a {
							font-size: 14px;
						}
					}
				}

				&:hover {
					&::after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: $--primary-color-overlay;
						z-index: 1;
						transition: $--transition;
					}

					img {
						transition: $--transition;
						transform: scale(1.1);
					}

					.offer_area_content {
						h2 {
							transition: $--transition;
							transform: translateY(-10px);
						}
						p {
							transition: $--transition;
							transform: translateY(-10px);
						}
						a {
							transition: $--transition;
							transform: translateY(-10px);
						}
					}
				}
			}
		}
	}
}

// point : offer  area end

// point : destinations for you start

.destinations {
	padding: 100px 0 0 0;
	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}
		@media only screen and (max-width: 496px) {
			width: 100%;
		}
		.destinations_header {
			text-align: center;
			padding-bottom: 30px;

			h2 {
				position: relative;
				padding-bottom: 15px;

				&::after {
					content: '';
					position: absolute;
					width: 200px;
					height: 1px;
					background: $--primary-color;
					left: 50%;
					transform: translate(-50%, 50%);
					bottom: 0;
				}
			}
		}

		.destinations_top_box {
			background: #ffffff;
			box-shadow: -4px -4px 16px rgb(139 62 234 / 8%),
				4px 14px 28px rgb(139 148 250 / 7%);
			border-radius: 12px;
			padding: 38px 0;
			margin: 0 auto;
			margin-bottom: 30px;
			width: 100%;

			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				width: 100%;
				padding: 10px 30px;

				li {
					padding: 0 30px;
					margin: 20px 0;
					transition: $--transition;
					display: block;

					@media only screen and (max-width: 982px) {
						padding: 0 10px;
					}
					@media only screen and (max-width: 574px) {
						padding: 0 5px;
					}
					@media only screen and (max-width: 496px) {
						padding: 0 2px;
					}

					a {
						margin-bottom: 0;
						background: 0 0;
						border: 1px solid $--primary-color;
						color: $--black-color;
						padding: 8px 30px;
						border-radius: 5px;

						&.active {
							color: $--white-color;
							background-color: $--primary-color;
							border-color: $--primary-color;
						}
						&:hover {
							color: $--white-color;
							background-color: $--primary-color;
							border-color: $--primary-color;
						}
					}
				}
			}

			@media only screen and (max-width: 1382px) {
				width: 100%;
				ul {
					padding: 10px 0;

					li {
						padding: 0 10px;

						a {
							padding: 8px 15px;
						}
					}
				}
			}

			@media only screen and (max-width: 1312px) {
				width: 100%;
			}
			@media only screen and (max-width: 998px) {
				width: 100%;

				ul {
					padding: 10px 0;

					li {
						padding: 0 5px;

						a {
							padding: 8px 15px;
						}
					}
				}
			}

			@media only screen and (max-width: 500px) {
				ul {
					li {
						a {
							padding: 8px 10px;
							font-size: 10px;
						}
					}
				}
			}
		}

		.destinations_card_box {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 30px;
			grid-auto-flow: dense;
			margin: 46px 0;

			@media only screen and (max-width: 1312px) {
				grid-template-columns: 1fr 1fr;
			}
			@media only screen and (max-width: 800px) {
				grid-template-columns: 1fr;
			}

			.destinations_card {
				display: flex;
				align-items: center;
				border: 1px solid #d2d2d2;
				border-radius: 9px;
				overflow: hidden;
				transition: $--transition;
				margin-bottom: 40px;
				@media only screen and (max-width: 1312px) {
					margin-bottom: 10px;
				}
				@media only screen and (max-width: 910px) {
					.destinations_card_content {
						padding-left: 10px;
						h3 {
							font-size: 15px !important;
						}
						p {
							font-size: 12px !important;
						}
					}
				}

				@media only screen and (max-width: 800px) {
					.destinations_card_content {
						padding-left: 10px !important;
						h3 {
							font-size: 22px !important;
						}
						p {
							font-size: 15px !important;
						}
					}
				}

				@media only screen and (max-width: 534px) {
					.destinations_card_content {
						h3 {
							font-size: 14px !important;
							font-weight: 400 !important;
						}
						p {
							font-size: 12px !important;
						}
					}
				}

				.destinations_card_img {
					a {
						img {
							transition: $--transition;
							max-width: 100%;
							height: auto;
						}
					}
				}
				.destinations_card_content {
					padding-left: 20px;
					h3 {
						font-size: 22px;
						font-weight: 400;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;

						a {
							color: $--black-color;
						}
					}
					p {
						color: $--black-color;
						font-weight: 500;
						padding-top: 5px;
						span {
							color: $--primary-color;
						}
					}
				}
			}
		}
	}
}

// point : destinations for you end

// point : Travel News start
.travel_news {
	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}
		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.travel_news_header {
			text-align: center;
			padding-bottom: 30px;

			h2 {
				position: relative;
				padding-bottom: 15px;

				&::after {
					content: '';
					position: absolute;
					width: 200px;
					height: 1px;
					background: $--primary-color;
					left: 50%;
					transform: translate(-50%, 50%);
					bottom: 0;
				}
			}
		}

		.travel_news_main {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			grid-auto-flow: dense;
			margin-bottom: 40px;

			@media only screen and (max-width: 904px) {
				grid-template-columns: 1fr;
			}

			.left {
				.travel_news_card {
					display: flex;
					align-items: center;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}

					.travel_news_img {
						width: 100px;
						height: 100px;
						border-radius: 10px;
						overflow: hidden;
						a {
							img {
								width: 100%;
							}
						}
					}

					.travel_news_content {
						width: 70%;
						padding-left: 20px;

						h3 {
							font-size: 22px;
							font-weight: 500;
							line-height: 27px;
							padding-bottom: 10px;

							a {
								color: $--black-color;
								transition: $--transition;

								&:hover {
									color: $--primary-color;
									transition: $--transition;
								}
							}
						}
						p {
							font-size: 14px;
							padding-top: 12px;

							&:last-child {
								padding-bottom: 0px;
							}

							a {
								&:hover {
									color: $--black-color;
									transition: $--transition;
								}
							}
							span {
								padding-left: 10px;

								i {
									padding-top: 0;
									font-size: 7px;
									padding-right: 10px;
								}
							}
						}

						@media only screen and (max-width: 682px) {
							h3 {
								font-size: 18px;
								padding-bottom: 5px;
							}
							p {
								font-size: 12px;
								padding-top: 0;
							}
						}

						@media only screen and (max-width: 420px) {
							h3 {
								font-size: 14px;
							}
							p {
								font-size: 10px;
							}
						}
					}
				}
			}

			.right {
				.travel_news_big {
					overflow: hidden;
					border-radius: 15px;

					a {
						display: block;
						padding-top: 11px;

						&:hover {
							color: $--black-color;
							transition: $--transition;
						}

						img {
							width: 100%;
							object-fit: cover;
							transition: $--transition;

							&:hover {
								transform: scale(1.2);
								transition: $--transition;
							}
						}
					}
					h3 {
						font-size: 22px;
						font-weight: 500;
						padding-top: 20px;

						a {
							color: $--black-color;
							padding-top: 0;
						}
					}
					p {
						padding-top: 8px;
					}

					@media only screen and (max-width: 640px) {
						h3 {
							font-size: 18px;
						}
						p {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

// point : Travel News end

// point : Partner slider section start

.partner {
	padding: 40px 0 40px 0;

	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}

		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.partner_slider_top {
			text-align: center;
			padding-bottom: 30px;

			h2 {
				position: relative;
				padding-bottom: 15px;

				&::after {
					content: '';
					position: absolute;
					width: 200px;
					height: 1px;
					background: $--primary-color;
					left: 50%;
					transform: translate(-50%, 50%);
					bottom: 0;
				}
			}
		}

		.partner_slider {
			overflow: hidden;
			position: relative;

			.partner_slider_container {
				display: flex;
				animation: slideAnimation 10s linear infinite;
				width: 100%;
			}

			.partner_slide {
				flex: 0 0 12.5%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 20px;

				@media only screen and (max-width: 992px) {
					flex: 0 0 16.6666666667%;
				}

				@media only screen and (max-width: 904px) {
					flex: 0 0 25%;
				}

				@media only screen and (max-width: 640px) {
					flex: 0 0 33.3333333333%;
				}

				@media only screen and (max-width: 390px) {
					flex: 0 0 50%;
				}

				img {
					max-width: 100%;
					object-fit: contain;
					height: auto;
				}
			}

			@keyframes slideAnimation {
				0% {
					transform: translateX(0);
				}
				100% {
					transform: translateX(-100%);
				}
			}
		}
	}
}

// point : Partner slider section end

// point : news letter section start

.newsletter {
	padding: 100px 0;
	background-color: #f3f6fd;
	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}

		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.newsletter_main {
			display: grid;
			grid-template-columns: 7fr 5fr;
			grid-gap: 20px;
			@media only screen and (max-width: 1034px) {
				grid-template-columns: 1fr;
			}

			.left {
				display: flex;
				align-items: center;

				@media only screen and (max-width: 1034px) {
					justify-content: center;
				}

				@media only screen and (max-width: 402px) {
					flex-direction: column;
					align-items: flex-start;

					.left_icon {
						width: 100% !important;
						padding-right: 0 !important;
						padding-bottom: 20px !important;
					}

					.left_content {
						padding-left: 0 !important;
						h2 {
							font-size: 20px !important;
							padding-top: 5px !important;
						}

						h4 {
							font-size: 16px !important;
						}
					}
				}

				.left_icon {
					width: 15%;
					padding-right: 20px;
					@media only screen and (max-width: 768px) {
						width: 18%;
					}
					@media only screen and (max-width: 496px) {
						width: 20%;
					}
				}
				.left_content {
					padding-left: 30px;
					@media only screen and (max-width: 768px) {
						padding-left: 20px;
						h2 {
							font-size: 20px;
							padding-top: 0px !important;
						}

						h4 {
							font-size: 16px;
						}
					}
					@media only screen and (max-width: 496px) {
						padding-left: 10px;
						h2 {
							font-size: 16px;
							line-height: 24px !important;
							margin-top: 4px !important;
						}
						h4 {
							font-size: 12px;
						}
					}

					h2 {
						padding-top: 11px;
						font-weight: 600;
					}
				}
			}
			.right {
				form {
					.input_box {
						position: relative;
						display: flex;
						flex-wrap: wrap;
						align-items: stretch;
						width: 100%;
						height: 100%;
						margin-top: 13px;
						@media only screen and (max-width: 1034px) {
							justify-content: center;
						}

						@media only screen and (max-width: 410px) {
							justify-content: flex-start;

							input {
								width: 100% !important;
							}

							button {
								width: 100% !important;
							}
						}

						input {
							width: 75%;
							height: 100%;
							border: 0;
							outline: 0;
							padding: 20px;
							border-radius: 0;
							background-color: $--white-color;
							font-size: 16px;
							transition: $--transition;
							&:focus {
								border: 0;
								outline: 0;
								box-shadow: none;
							}

							@media only screen and (max-width: 1400px) {
								width: 70%;
							}

							@media only screen and (max-width: 1182px) {
								width: 65%;
							}
						}
					}
				}
			}
		}
	}
}

// point : news letter section end

// point : footer section start

.footer {
	padding: 100px 0;

	@media only screen and (max-width: 904px) {
		padding: 60px 0;
	}

	@media only screen and (max-width: 496px) {
		padding: 20px 0 40px 0;
	}

	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}

		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.footer_area {
			display: grid;
			grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
			grid-gap: 20px;
			@media only screen and (max-width: 992px) {
				grid-template-columns: 2fr 2fr;
				gap: 30px;
				.footer_rows {
					.footer_header_area {
						h5 {
							font-size: 28px !important;
						}
					}

					&:nth-last-child(1) {
						display: none !important;
					}
					&:nth-child(2) {
						margin-left: 0 !important;
					}
				}
			}

			@media only screen and (max-width: 430px) {
				grid-gap: 15px;
			}
			@media only screen and (max-width: 414px) {
				grid-template-columns: 1fr;
				grid-gap: 15px;

				.footer_rows {
					&:nth-last-child(1) {
						display: block !important;
					}
				}
			}

			.footer_rows {
				@media only screen and (max-width: 904px) {
					margin-bottom: 30px;
				}

				.footer_header_area {
					h5 {
						border-bottom: 1px solid $--primary-color;
						display: inline-flex;
						padding-bottom: 5px;
						font-weight: 500;
					}
				}

				.footer_first_area {
					.footer_need_area {
						padding-top: 5px;
						border-left: 2px solid $--primary-color;
						margin-top: 25px;
						padding-left: 9px;

						h5 {
							font-size: 16px;
							font-weight: 500;
						}

						h3 {
							font-weight: 500;
							padding-top: 10px;

							@media only screen and (max-width: 1200px) {
								font-size: 18px;
							}

							@media only screen and (max-width: 496px) {
								font-size: 16px;
							}
						}
						ul {
							display: flex;
							gap: 10px;
							margin-top: 08px;
							flex-wrap: wrap;
						}
					}
				}

				.footer_link_area {
					padding-top: 20px;

					ul {
						li {
							padding-bottom: 15px;

							a {
								color: $--black-color;
								font-size: 16px;
								font-weight: 400;
								transition: $--transition;
								&:hover {
									color: $--primary-color;
								}
							}
						}
					}
				}
			}
		}
	}
}

.margin_left {
	margin-left: 15.333333%;
}
// point : footer section end

// point : copyright section start

.copyright_area {
	padding: 20px 0 17px 0;
	background-color: #f3f6fd;
	.container {
		@media only screen and (max-width: 904px) {
			width: 80%;
		}
		@media only screen and (max-width: 496px) {
			width: 100%;
		}

		.copyright_box {
			display: grid;
			grid-template-columns: 1fr 1fr;

			@media only screen and (max-width: 496px) {
				grid-template-columns: 1fr;
			}

			.left {
				p {
					color: $--black-color;
					font-size: 16px;
					font-weight: 500;
				}
			}
			.right {
				text-align: right;

				@media only screen and (max-width: 496px) {
					text-align: start;
					margin-top: 10px;
				}
			}
		}
	}
}

// point : copyright section end

// point : going top

.goto_to_top_button {
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #fff;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;

	button {
		border-radius: 50%;
		padding: 10px 13px;
		font-size: 10px;
	}
}
