#mainButton {
	color: yellow;
	border: 1px solid yellowgreen;
	background-color: red;
	width: 30%;
	text-align: center;
	display: inline-block;
	margin: 10px 7px;
	padding: 14px 32px;
	border-radius: 5%;
	cursor: pointer;
}
#CommonButton {
	color: red;
	border: 1px solid yellowgreen;
	background-color: yellow;
	width: 40%;
	text-align: center;
	display: inline-block;
	margin: 10px 7px;
	padding: 14px 32px;
	border-radius: 5%;
	cursor: pointer;
}
